.inputCount{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 50px;
}

.containerCount{
    align-items: center;
    margin-left: auto;
}


.buttonAdd{
    display: flex;
    flex-wrap: nowrap;
}

.divContador{
    height: 7px;
    width: 80px;

}