.gridProducts{
    display: grid;
    grid-template-columns: repeat(3, 273px);
    gap: 50px;
    margin-left: 200px;
    margin-top: 50px;
}

.cardProducts{
    width: auto;
    height: 375px;
    border: 5px, solid darkblue;
}

.cardText{
    margin-bottom: 0px;
}

.loadingButton{
    margin-top: 280px;
}

.imgItemListContainer{
    height: 220px;
    width: 250px;
}

.titleWelcome{
    margin-top: 20px;
}

