

.cardDetail{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: 250px;
    margin-right: 300px;
    margin-top: 100px;
    
}
/*cardCart = estilos para Cart*/
.cardCart{
    height: 200px;
    width: 230px;
}

.cardDetailImg{
    height: 220px;
    width: 250px;
}
